<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Metadata Microservice</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <h2>API Project: File Metadata Microservice</h2>
      <h3>User Stories:</h3>
      <ol>
        <li>I can submit a form object that includes a file upload.</li>
        <li>
          When I submit something, I will receive the file name, and size in
          bytes within the JSON response.
        </li>
      </ol>

      <h3>Usage:</h3>
      <p>
        Please Upload a File ...
      </p>
      <div class="view">
        <h4 id="output"></h4>
        <form
          enctype="multipart/form-data"
          method="POST"
          action="/api/fileanalyse"
        >
          <input
            id="inputfield"
            type="file"
            name="upfile"
            required="required"
          />
          <input id="button" type="submit" value="Upload" />
        </form>
      </div>
    </div>
    <div class="footer">
      <p>
        By
        <a
          href="https://github.com/kelvinsanchez15/file-metadata-microservice"
          target="_blank"
          >Kelvin Sánchez</a
        >
      </p>
    </div>
  </body>
</html>
